body {
  font-family: sans-serif;
}

.card {
  background: #f8f8ff;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 10%;
  border-radius: 10px;
}

.card-img {
  /* border: 1px solid green; */
  box-shadow: 0 8px 6px -6px black;
}

.user-name {
  /* font-size: 2rem;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center; */
}

img {
  display: block;
  height: 100px;
  width: auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-category {
  width: 28%;
  font-weight: bold;
  vertical-align: middle;
}

.card-amount {
  width: 25%;
  font-weight: bold;
  color: blue;
  vertical-align: middle;
}

.card-description {
  width: 30%;
  color: grey;
  vertical-align: middle;
}

.card-date {
  width: 15%;
  color: grey;
  vertical-align: middle;
}

.card-body {
  /* vertical-align: middle; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  flex-direction: row;
  padding: 5px;
  flex: 1 1 auto;
  justify-content: space-between;
  /* border: 1px solid blue; */
  box-shadow: 0 8px 6px -6px grey;
}
